.bd{
	background-color:#F8A43B ;
}

/*---header---*/
.navbar{
	background-color: #F8F9F9 ;
}
.nav-link{
	font-weight: bold;
	font-family: Georgia, serif;
	text-decoration-color: white;
}

.grid-container{
	padding-top: 10px;
}
h2{
	background-color:#F5CBA7;
	padding: 15px;
	text-decoration-color: #922B21;
}
#table{
	background-color: #FCF3CF;
	padding-top: 10px;
}
table thead,tbody,tr,th,td{
	border: 1px solid black;
}

img{
	width:450px;
	padding-left: 25px;
	padding-top: 25px;
}
#para{
	padding-left: 20px;
}
.footer{
	background:#000;
	height:50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
    width: auto;
}